* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0 5rem;

  margin: 0;
}

a {
  text-decoration: none;
}

/* utility classes */

.btn-make {
  background-color: #000;
  color: white;
  font-family: sans-serif;
  font-size: 1rem;
  box-shadow: none;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: -5px;
  margin-left: 10px;
}

/* Header Section */

header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.logo {
  font-family: sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-items {
  font-family: sans-serif;
  font-size: 1rem;
  padding-right: 10px;
  color: #000;
}

.burger-menu {
  display: none;
}

/* Media Quaries for Header Section */

@media (max-width: 1048px) {
  header {
    align-items: center;
  }
  .burger-menu {
    width: 30px;
    height: 30px;
    display: inline;
  }

  .nav-items {
    display: none;
  }

  .nav-btns {
    display: none;
  }
}

@media (max-width: 422px) {
  body {
    padding: 0 1rem;
  }
}

/* Hero Section */

.hero {
  width: 40%;
  margin: 0 auto;
  padding: 130px 6rem;
  text-align: center;
}

.hero_title {
  font-size: 3.5rem;
  font-family: sans-serif;
  padding-bottom: 30px;
  line-height: 1;
}

.hero_des {
  font-size: 1.2rem;
  font-family: sans-serif;
  line-height: 1.5;
}

.hero_btn {
  margin: 40px;
  padding: 10px 20px;
}

/* Media Quaries for Hero Section */

@media (max-width: 1720px) {
  .hero {
    width: 50%;
  }

  .hero_title {
    font-size: 2.8rem;
  }
}

@media (max-width: 1240px) {
  .hero {
    width: 70%;
  }
}

@media (max-width: 932px) {
  .hero {
    width: 90%;
  }

  .hero_title {
    font-size: 2rem;
  }
}

@media (max-width: 672px) {
  .hero {
    width: 100%;
    padding: 5rem 1rem;
  }

  .hero_title {
    font-size: 1.8rem;
    line-height: 1.2;
  }

  .hero_des {
    font-size: 1rem;
  }
}

/* Price Section */

.price_section {
  padding: 100px 0px;
}

.price_section_top_heading {
  font-size: 1.6rem;
  font-family: sans-serif;
  font-weight: 800;
  padding-bottom: 10px;
}

.price_section_top_des {
  font-size: 1.1rem;
  font-family: sans-serif;
  letter-spacing: 3;
  line-height: 1.5;
}

.price_plans {
  margin: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.plan_1,
.plan_2,
.plan_3 {
  flex: 1;
  background-color: black;
  color: #fff;
  padding: 50px;
  border-radius: 10px;
}

.price {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.name {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

li {
  line-height: 3;
}

.signup_button {
  width: 100%;
  padding: 10px;
  margin: 20px 0px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
}

/* Media FOR PRICE SECTION */

@media (max-width: 1354px) {
  .plan_1,
  .plan_2,
  .plan_3 {
    min-width: 400px;
  }
}

@media (max-width: 541px) {
  body {
    padding: 0 2.1rem;
  }
  .price_section_top_heading {
    font-size: 1.5rem;
  }

  .price_plans {
  }
}

@media (max-width: 469px) {
  body {
    padding: 0 1.5rem;
  }
  .price_section_top_heading {
    font-size: 1rem;
  }

  .price_section_top_des {
    font-size: 1rem;
  }

  .plan_1,
  .plan_2,
  .plan_3 {
    min-width: 200px;
  }

  @media (max-width: 422px) {
    .plan_1,
    .plan_2,
    .plan_3 {
      padding: 2rem;
    }

    .description {
      font-size: 1rem;
    }
  }
}

/* Features Section */

.features {
  padding: 50px 0px;
  text-align: center;
}

.feature-title {
  font-size: 2.5rem;
  font-weight: 800;
}

.feature-desc {
  font-size: 1.4rem;
  padding-top: 1rem;
  line-height: 1.5;
}

.features-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
  gap: 30px;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6 {
  background-color: transparent;
  text-align: center;
  flex-basis: 500px;
  padding: 50px;
  border-radius: 10px;
  border: 2px solid #0000005d;
}

.box-title {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1.2rem;
}

.box-des {
  font-size: 1.1rem;
  line-height: 1.5;
}

@media (max-width: 1100px) {
  .feature-title {
    font-size: 1.6rem;
  }

  .feature-desc {
    font-size: 1rem;
  }

  @media (max-width: 698px) {
    .feature-title {
      font-size: 1.3rem;
    }

    .feature-desc {
      font-size: 1rem;
    }
  }
}

/* Contact Section */

.contact {
  margin: 200px auto;
  text-align: center;
}

.contact-title {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1.2rem;
}

.contact-des {
  font-size: 1.5rem;
  letter-spacing: 5;
  width: 40%;
  margin: 0 auto;
  line-height: 1.6;
}

.contact-button {
  margin-top: 1rem;
  font-size: 1.3rem;
  padding: 10px 20px;
}

@media (max-width: 1382px) {
  .contact-title {
    font-size: 2rem;
  }

  .contact-des {
    font-size: 1rem;
    width: 80%;
  }

  .contact-button {
    margin-top: 1rem;
    font-size: 1rem;
    padding: 10px 20px;
  }
}

/* Footer */

footer {
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
}
